body{

    background-color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    width: 1280px;
    
   
}

p {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */


}

h4 {

    color: black;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
}

li {
    color: black;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */

}

.approach .subtitle {
    color: black;
}

.sidebar {
	width: 350px;
    background: white;
}

.rightsidebar {
	width: 200px;
    background: white;
}


.main-content {
    width: calc(100% - 370px);
    background: white;
}

.article_box {
  width: 250px;
  border-style: solid;
}

.header {
	background: white;
	font-size: 90px;		
}
    












































